/* ======= Base ======= */
body {
    font-family: 'Roboto', sans-serif;
    color: $text-color-secondary;
    background: $smoky-white;
    font-size: 14px;
    padding: 30px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6  {
    font-weight: 700;
}

a {
    color: darken($theme-color, 15%);
    &:hover {
        text-decoration: underline;
        color: darken($theme-color, 30%);
    }
    &:focus {
        text-decoration: none;
    }
}

p {
    line-height: 1.5;
}

.wrapper {
    background:$theme-color;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    @include box-shadow(0px 2px 4px rgba(0,0,0,0.1));
}

.sidebar-wrapper {
    background: $theme-color;
    position: absolute;
    right: 0;
    width: 280px;
    height: 100%;
    min-height: 800px;
    color: #fff;
    a {
        color: #fff;
    }
    .profile-container {
        padding: 30px;
        //background: darken($theme-color, 10%);
        background: rgba(0, 0, 0, 0.2);
        text-align: center;
        color: #fff;
    }
    .name {
        font-size: 32px;
        font-weight: 900;
        margin-top: 0;
        margin-bottom: 10px;
    }
    .tagline {
        color: rgba(256, 256, 256, 0.6);
        font-size: 16px;
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 0;
    }
    .profile {
        margin-bottom: 15px;
    }

    .avatar {
        //used for profile image
        max-width: 100px;
        margin-bottom: 15px;
        border: 0px solid #fff;
        border-radius: 100%;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    }
    .contact-list {
        .fas, .fab {
            margin-right: 5px;
            font-size: 18px;
            vertical-align: middle;
        }
        li {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .container-block {
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
        //border-bottom: 2px solid darken($theme-color, 15%);
    }
    .container-block:after {
        border-bottom: 1px solid lighten($theme-color, 25%);
        content: '';
        display: block;

        margin-top: 30px;
        width: 100%;
    }
    .container-block-timeline {
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .contact-container {
        padding-top: 30px;
    }
    .container-block-title {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 15px;
    }
    .degree {
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 5px;
    }
    .education-container {
        .item {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .meta {
            color: rgba(256, 256, 256, 0.6);
            font-weight: 500;
            margin-bottom: 0px;
            margin-top: 0;
        }
        .time {
            color: rgba(256, 256, 256, 0.6);
            font-weight: 500;
            margin-bottom: 0px;
        }
    }
    .languages-container {
        .lang-desc {
            color: rgba(256, 256, 256, 0.6);
        }
    }

    .languages-list {
        margin-bottom: 0;
        li {
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .interests-list {
        margin-bottom: 0;
        li {
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.main-wrapper {
    background: #fff;
    padding: 60px;
    padding-right: 340px;
    .section-title {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 500;
        color: darken($theme-color, 15%);
        position: relative;
        margin-top: 0;
        margin-bottom: 20px;
    }
    .section-skillgroup {
        font-size: 20px;
        font-weight: 500;
        color: darken($theme-color, 15%);
        position: relative;
        margin-top: 0;
        margin-bottom: 10px;
    }
    .section {
        margin-bottom: 60px;
    }

    .experiences-section, .educations-section {
        .item {
            margin-bottom: 15px;
            margin-top: 15px;
        }
    }
    .upper-row {
        position: relative;
        overflow: hidden;
        margin-bottom: 2px;
    }
    .job-title, .degree {
        color: $text-color;
        font-size: 16px;
        text-align: left;
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 500;
    }
    .technologies-title {
        text-transform: uppercase;
        color: #808080;
        font-size: 12px;
        margin-top: 2px;
        margin-bottom: 0;
        font-weight: 900;
    }
    .technologies {
        color: $text-grey;
        font-size: 12px;
        margin-top: 0px;
        margin-bottom: 0;
    }
    .technologies-hr {
        border: 0;
        height: 1px;
        background: #333 linear-gradient(to right, #ccc, #333, #ccc);
    }
    .exp-hr2 {
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(151, 170, 195, 0), rgba(151, 170, 195, 0.75), rgba(151, 170, 195, 0));
        margin-top: 0;
        margin-bottom: 2px;
    }
    .exp-hr {
        border: 0;
        height: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        margin-top: 0;
        margin-bottom: 2px;
    }
    .time {
        position: relative;
        right: 0;
        top: 0;
        color: $text-grey;
        text-align: left;
    }
    .company, .university {
        color: $text-grey;
        text-align: left;
    }

    .project-title {
        font-size: 16px;
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 5px;
    }
    .projects-section {
        .intro {
            margin-bottom: 30px;
        }
        .item {
            margin-bottom: 15px;
        }
    }

    .publication-title {
        font-size: 16px;
        font-weight: 400;
        color: $text-color;
        margin-bottom: 1px;
    }
    .publication-authors {
        font-style: italic;
        color: $text-grey;
        margin-bottom: 1px;
    }
    .publications-section {
        .intro {
            margin-bottom: 30px;
        }
        .item {
            margin-bottom: 15px;
        }
    }
}

.skillset {
    .item {
        margin-bottom: 10px;
        overflow: hidden;
    }
    .level-title {
        font-size: 13px;
        margin-top: 0;
        margin-bottom: 12px;
        font-weight: 700;
        padding-left: 10px;
        padding-right: 5px;
        //height: 15px;
    }
    .level-bar {
        height: 15px;
        background: $smoky-white;
    }
    .level-bar-inner {
        height: 15px;
        background: lighten($theme-color, 15%);
    }
}



/* Variables */
/* Base */
//body {
//    background: #252827;
//    font-size: 16px;
//}
//p {
//    font-weight: 300;
//}
//a {
//    color: #6c6d6d;
//    text-decoration: none;
//    text-transform: uppercase;
//    display: block;
//    letter-spacing: 0.3em;
//    font-size: 0.6em;
//    font-weight: 400;
//    background: #252727;
//    padding: 0.3rem 1rem;
//    margin: 1.9rem 0 0 0;
//    float: right;
//}
//
//strong {
//    font-weight: 600;
//}
//h1 {
//    font-family: 'Saira', sans-serif;
//    letter-spacing: 1.5px;
//    color: white;
//    font-weight: 400;
//    font-size: 2.4em;
//}
//#timeline-content {
//    margin-top: 50px;
//    text-align: center;
//}
///* Timeline */

.timeline-title {
    font-weight: 100;
    font-size: 20px;
}

.company-avatar {
    //used for profile image
    max-width: 55px;
    max-height: 55px;
    margin-right: 5px;
    border: 2px solid lighten($theme-color, 25%);
    border-radius: 20%;

    //border: 1px solid #ddd;
    //border-radius: 4px;
    //padding: 5px;
    //width: 50px;
}

.timeline {
    border-left: 4px solid darken($theme-color, 15%);
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    margin: 10px auto;
    position: relative;
    font-size: 1.03em;
    padding: 2px 53px;
    list-style: none;
    text-align: left;
    font-weight: 100;
    max-width: 30%;

    .company {
        font-weight: 400;
        font-size: 15px;
        margin-left: -30px;
        min-width: 140px;
        //white-space: nowrap;
    }
    .role {
        font-weight: 400;
        font-size: 12px;
        margin-left: -30px;
        min-width: 140px;
        //white-space: nowrap;
    }
}


.timeline .event {
    border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
    padding-bottom: 5px;
    margin-bottom: 25px;
    position: relative;
}
.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}
.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}
.timeline .event:before {
    left: -200px;
    color: solid darken($theme-color, 15%);
    content: attr(data-date);
    text-align: right;
    font-weight: 700;
    font-size: 0.9em;
    min-width: 120px;
}
.timeline .event:after {
    box-shadow: 0 0 0 4px darken($theme-color, 15%);
    left: -60px;
    background: #ffffff;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
    top: 5px;
}


/* DivTable.com */
.divTable{
    display: table;
    width: 100%;
    margin-bottom: 15px;
}
.divTableRow {
    display: table-row;
}
.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
}
.divTableCell, .divTableHead {
    border: 1px solid #999999;
    display: table-cell;
    padding: 3px 10px;
}
.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
    font-weight: bold;
}
.divTableFoot {
    background-color: #EEE;
    display: table-footer-group;
    font-weight: bold;
}
.divTableBody {
    display: table-row-group;
}